[Settings]
sampleInterval: 3
statusLEDPin: 22
commandLEDPin: 10
doorSensorPin: 5
defaultLocation: {\"lon\":\"-81.20288\", \"lat\":\"41.58339\" 

[AzureKeys]
deviceId: FromYourIOTCentralDeviceConfig
scopeId: FromYourIOTCentralDeviceConfig
deviceKey: FromYourIOTCentralDeviceConfig

[GraphQL]
endpointURL: https://yourgraphql.url

[Sensors]
BMEPort: 1
BMEAddress: 0x77
